<mat-card>
  <div class="back">
    <img src="assets/ESPEJO.jpg">
    <h3>Profile</h3>
  </div>
  <div id="About">
    <h1> <span class="material-icons blue-color"> emoji_emotions</span>About Me</h1>
    <h2><p><span class="material-icons teal-color"> emoji_people</span>Hi I'm George Joseph M. Espejo, </p></h2>
    <p>A College Student of Easter Visayas State University Tacloban Campus</p>
    <p> A Bachelor of Science in Information Technology (BSIT) 3rd Year Level!!!!!!!!!</p>
    <p> I'm 20 years old </p>
  </div>
</mat-card>

