<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav mode="side" opened class="app-sidenav">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-list>
      <mat-divider></mat-divider>
      <div class="gallery">
        <a>
          <img src="assets/1.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Movie 1</div>
      </div>
      <div class="gallery">
        <a>
          <img src="assets/2.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Movie 2</div>
      </div>
      <div class="gallery">
        <a>
          <img src="assets/3.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Movie 3</div>
      </div>
      <div class="gallery">
        <a>
          <img src="assets/4.jpg " alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Movie 4</div>
      </div>
      <div class="gallery">
        <a>
          <img src="assets/5.jfif " alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Movie 5</div>
      </div>
      <div class="gallery">
        <a>
          <img src="assets/6.jpg " alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Movie 6</div>
      </div>
      <div class="gallery">
        <a>
          <img src="assets/7.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Movie 7</div>
      </div>
      <div class="gallery">
        <a>
          <img src="assets/8.jfif " alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Movie 8</div>
      </div>
      <div class="gallery">
        <a>
          <img src="assets/9.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Movie 9</div>
      </div>
      <div class="gallery">
        <a>
          <img src="assets/ESPEJO.jpeg " alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Profile</div>
      </div>
    </mat-list>
    <router-outlet></router-outlet>
  </mat-sidenav>
